$transparan: transparent;
$default: #fff;
$active: #8799a3;
$btn: #ffff00;
$text-clr: #636363;
$heading: #0081ff;


// Global
h1, h2, h3, h4, h5, h6, p {
	letter-spacing: 0.8px;
}
body {
	font-size: 14px;
}
.container-fluid.main {
	background-image: url("assets/bg-header.jpg");
	background-size: 140%;
	background-position-y: -100px;
	height: 840px;	
	padding: 0;
}
.opacity {
	background-color: rgba(0,0,0,0.5);
	height: 100%;
}
.container {
	width: 1040px;
	max-width: 100%;
}
.text-left {
	color: $default;
	font-family: 'Cambay', sans-serif;
	margin: 20px 0;
}
h2.text-left,
h1.text-left,
h5.mt-0,
p.card-text,
.text-center h2 {
	font-family: 'Montserrat', sans-serif;
}
h3.text-left,
.text-center h3 {
	font-family: 'Leckerli One', cursive;
}
.text-center h2,
.text-center h3 {
	color: $default;
}
p.text-left {
	font-size: 22px;
	color: $text-clr;
	max-width: 450px;
}
.btn {
	border-radius: 50px 50px;
	font-size: 12px!important;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
}
.col.align-self-start,
ul.social-menu {
	padding: 0;
}

.col-md-4 p {
	font-size: 17px;
}


// Navbar
.bg-dark {
	background-color: $transparan!important;
}
.navbar-brand img{
	height: 50px;
}

.navbar-dark .navbar-nav .nav-link{
	font-size: 18px;
	padding: 0 20px;
	color: $default;
}
.navbar-dark .navbar-nav .nav-item.active .nav-link,
.navbar-dark .navbar-nav .nav-link:hover {
	color: $active;
}
.btn-outline-warning {
	padding: 7px 25px;
	color: $btn!important;
	border-color: $btn!important;
	background-color: $transparan;
	background-image: none;
	box-shadow: 0px 1px 10px $btn;
}
.btn-outline-warning:hover {
	color: $default!important;
}

// Intro
header .container:first-child {
	margin-top: 30px;
}
.col.align-self-start {
	margin-top: 150px;

}
.align-self-start h2.text-left {
	font-size: 34px;
}
.align-self-start h1.text-left {
	font-size: 51px;
	text-transform: capitalize;
	font-weight: 900;
}
.btn.btn-dark {
	padding: 12px 30px;
	background-color: #1f1f1f;
	border-color: #1f1f1f;
}
.btn.btn-dark:hover {
	background-color: #3e3d3d;
}

// Section
.container-fluid {
	background-color: #0081FF;
	padding: 100px 0 60px;
}
.row {
	color: $default;
}
.row h2.text-left {
	font-weight: 900;
	font-size: 36px;
}
.row p.text-left {
	max-width: 100%;
	color: $default;
	margin: 80px 0 0;
}
.row p.text-left:last-child {
	margin-top: 0;
}

// Service
div.container-fluid {
	background-color: #007af3;
	padding: 80px 0 35px;
	margin-top: 60px;
}
.media img {
	height: 60px;
}
h5.mt-0 {
	font-weight: 700;
	margin-bottom: 25px;
}
// Social-Menu
.social {
	margin-top: 70px;
}
.social-menu li {
	display: inline-block;
}
.social-menu li a {
	padding: 0 10px;
}
.social-menu li.active a i,
.social-menu li a i:hover {
	color: $default;
}
.social-menu li a i {
	font-size: 22px;
	color: #3a9dff;
	margin-top: 5px;
}

// Portofolio
.container-fluid.Portofolio {
	background-color: $default;
	padding-bottom: 0;
	margin: 0;
}
.Portofolio h2 {
	text-transform: capitalize;	
	color: #252525;
}
.Portofolio h3 {
	color: #8799A3;
}
.btn-primary {
	background-color: #1CBBB3!important;
	border: none;
	margin-left: 80px;
	padding: 15px 43px;
	box-shadow: 0 6px 20px #1cbbb3!important;
}

// Gallery
.card-body {
	padding: 0;
}
.card-img-top.primary-photo {
	height: 365px;
	object-fit: cover;
}
.col-md-6 .primary-photo {
	transform: scale(1.5);
}
.col-md-12 .primary-photo {
	transform: scale(1.2);
}
.card-img-top {
	height: 235px;
}
.col-md-3 .img-2 {
	transform: scale(1.1);
	height: 600px;
	object-fit: cover;
}
.col-12.col-md-3,
.col-12.col-md-6 {
	overflow: hidden;

}
.card-img-overlay {
	background-color: rgba(0,0,0,0.5);
	color: $default;
	opacity: 0;
	transition: 0.5s ease;
}
.card-img-overlay:hover {
	opacity: 1;
	cursor: pointer;
}
.img-active {
	opacity: 1;
}
.card-img-overlay h6 {
	color: #b5b4b4;
} 

.card-img-overlay p {
	font-size: 17px;
	font-weight: 700;
	max-width: 80%;
	margin: 0 auto;
}
.card-img-overlay img {
	height: 15px;
	margin: 10px 5px;
}

// Testimonial
.main-testimonial {
	background-image: url("assets/bg-client.jpg");
	background-size: 145%;

	padding: 0;
}
.main-testimonial .container {
	padding: 150px 0;
}
.text-center h3,
.text-center h2 {
	margin-bottom: 25px;
}
.text-center h2 {
	font-weight: 900;
}
.carousel {
	margin-top: 65px;
	color: $default;
}
// .carousel-item {
// 	padding: 0 150px;
// }
.carousel-inner,
.carousel-item .media p,
.carousel-item .media h5 {
	margin: 0;
}
.carousel-item p {
	font-family: 'Coustard', serif;
	font-size: 18px;
	margin: 25px auto;
}
.carousel-item .media img {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	object-fit: cover;
}
.carousel-item .media h5 {
	color: #fff000;
	font-size: 13px;
}
.carousel-item .media p {
	font-size: 13px;
	margin-top: 5px!important;
	color: #636363;
}
.client-logo {
	margin: 80px 0 80px;
}
.client-logo .col-md-3 {
	margin-top: 30px;
}
.client-logo img {
	width: 150px;
}
.client-logo img:hover {
	opacity: 0.7;
	cursor: pointer;
}
