$transparan: transparent;
$default: #fff;
$active: #8799a3;
$btn: #ffff00;
$text-clr: #636363;
$heading: #0081ff;


// Global
body {
	font-size: 14px;
}
.container-fluid.main {
	background-image: url("assets/bg-header.jpg");
	background-size: 140%;
	background-position-y: -100px;
	height: 800px;	
	padding: 0;
}
.opacity {
	background-color: rgba(0,0,0,0.5);
	height: 800px;
}
.container {
	width: 1040px;
	max-width: 100%;
}
.text-left {
	color: $default;
	font-family: 'Cambay', sans-serif;
	margin: 20px 0;
}
h2.text-left,
h1.text-left,
h5.mt-0 {
	font-family: 'Montserrat', sans-serif;
}
h3.text-left {
	font-family: 'Leckerli One', cursive;
}
p.text-left {
	font-size: 20px;
	color: $text-clr;
	max-width: 400px;
}
.btn {
	font-size: 14px!important;
	font-weight: 700;
	cursor: pointer;
}


// Navbar
.bg-dark {
	background-color: $transparan!important;
}
.navbar-brand img{
	height: 50px;
}

.navbar-dark .navbar-nav .nav-link{
	font-size: 16px;
	padding: 0 20px;
	color: $default;
}
.navbar-dark .navbar-nav .nav-item.active .nav-link {
	color: $active;
}
.btn-outline-warning {
	font-size: 14px;
	text-transform: uppercase;
	padding: 7px 25px;
	color: $btn!important;
	border-color: $btn!important;
	border-radius: 50px 50px;
	background-color: $transparan;
	background-image: none;
	box-shadow: 0px 1px 10px $btn;
}

// Intro
.col.align-self-start {
	margin-top: 200px;
	padding: 0;
}
.align-self-start h2.text-left {
	font-size: 31px;
}
.align-self-start h1.text-left {
	font-size: 48px;
	text-transform: capitalize;
	font-weight: 900;
}
.btn.btn-dark {
	border-radius: 50px 50px;
	text-transform: uppercase;
	padding: 10px 30px;
}

// Section
.container-fluid {
	background-color: #0081FF;
	padding: 100px 0 50px;
}
.row {
	color: $default;

}
.row h2.text-left {
	font-weight: 900;
	font-size: 36px;
}
.row p.text-left {
	max-width: 100%;
	color: $default;
	margin-top: 80px;
}
div.container-fluid {
	background-color: #007af3;
	padding: 70px 0 30px;
}
.media img {
	height: 60px;
}
h5.mt-0 {
	font-weight: 700;
	margin-bottom: 20px;
}
.media-body p {
	font-size: 18px;
}